@use "../abstracts/variables";

.footer {
  background-color: variables.$dirt-white;
  position: relative;

  &__title {
    font-family: gothamFont;
  }

  &__element {
    height: 310px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__paragraph {
    max-width: 708px;
    font-size: 1.6rem;
    margin: 25px;
  }

  &__subparagraph {
    font-weight: 700;
    max-width: 763px;
    margin-top: 76px;
    font-size: 1.5rem;
  }

  &__wrapper {
    max-width: 708px;
  }

  &__contact {
    &--number {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 1rem;

    &__title {
      font-size: 1rem;
    }

    &__paragraph {
      padding: 30px 20px;
      font-size: 1rem;
    }

    &__subparagraph {
      font-size: 1rem;
    }
  }
}
