@use "../abstracts/variables";

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
  }
}

.home {
  position: relative;

  &__logo-img {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
  }
  &__background-img {
    max-width: 1920px;
  }

  &__icon {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    color: variables.$white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: variables.$white;
    }
  }
  &__subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    &__logo-img {
      margin: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
    }

    &__icon {
      visibility: hidden;
    }
  }
}
